API_ID= 26142490
API_HASH-= 51d9a0145e6b91c12b5b7897aef3bfed
BOT_TOKEN= 6701583072:AAEOTwwHEtaTy_aizFOLVYUFIEugpIegVUs
LOGGER_ID= -1002135034807
MONGO_DB_URI= mongodb+srv://DONATE_ARMY:bgmi_009@cluster0.pe1n2m8.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID= 6663210749
STRING_SESSION 650= BQGO5xoAE-NPE1kkrQjmFy1trgSOsn7_09r3OsS3jPrSDE60SgoBFgoq1iMrf9jHoBFbAz4JEEOtmZZITJgpxXOM-OEixSynXdp1q7oCEamuEhg0YxFwvrYvOKeeK6Z-8E1UE-LYl0WiL24JhvRsJ5oU3cVzzbPQ8pWm1p4rw5XCJ_fvzCZEtn0jvl-QRpZXpXRtQ0jdoxL8F8DdscNNxbkV5bp23KXXF_gVpVTshKU2CRi8_2fd4EW2lXVF6W2vOSskzsS1jxiri3nOvZ46qB-mCfZ5J_vjU8lcTZxkeA8QhLEq7rOXw6lhMPVZQ1p4MNuVN898AJ70JEMQbXrEbVHkPiUCLQAAAAGNKIb9AA